# Server
PORT=4000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002

# Database
DATABASE_URL=postgresql://postgres:mbsjdNIobuHIUOqteaAHmgtCYeWRvmqk@shortline.proxy.rlwy.net:50182/railway

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

# External Sport API
SPORT_API_PROVIDER=api_football
SPORTMONKS_API_KEY=
API_FOOTBALL_KEY=47a3b76db6c2176cb806d0a3c8fa4826
QADSIAH_TEAM_EXTERNAL_ID=2933

# Push (Expo)
EXPO_ACCESS_TOKEN=

# Email
MAILJET_API_KEY=
MAILJET_API_SECRET=
EMAIL_FROM=noreply@qadsiah-fantasy.com

# Cloudinary (unsigned uploads)
CLOUDINARY_CLOUD_NAME=docbnlocz
CLOUDINARY_UPLOAD_PRESET=qasiah

# Admin bootstrap (created on first seed if not present)
ADMIN_EMAIL=admin@qadsiah-fantasy.com
ADMIN_PASSWORD=ChangeMe123!
ADMIN_USERNAME=admin
